:root{
    --color-white: hsl(0 0 100);
    --color-yellow: hsl(47 88 63);
    --color-grey-500: hsl(0 0 42);
    --color-grey-950: hsl(0 0 7);
    font-family: Figree, FigtreeItalic, Arial, Helvetica, sans-serif;
}

@font-face {
    font-family: Figtree;
    src: url(Assets/fonts/Figtree-VariableFont_wght.ttf);
}

@font-face {
    font-family: FigtreeItalic;
    src: url(Assets/fonts/Figtree-Italic-VariableFont_wght.ttf);
}

aside /* credits */
{
    font-size: .65rem;
    text-align: center;
    font: Figtree, Arial, Helvetica, sans-serif;
    padding-top: 1.5rem;
}

aside > a {
    color: hsl(228, 45%, 44%);
}

*{
    padding: 0;
    margin:0;
    font-family: Figtree;
}

body{
    background-color: var(--color-yellow);
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#mainContainer{
    max-width: 375px;
    height: 525px;
    margin-left: auto;
    border-radius: 20px;
    border-style: solid;
    border-width: 1.5px;
    margin: auto;
    background-color: var(--color-white);
    box-shadow: 6px 6px 6px var(--color-grey-950);
}

.mainArt{
    width:90%;
    height: auto;
    margin: 20px 20px;
    border-radius: 10px;
}

.articleType{
    background-color: var(--color-yellow);
    font-size: 1rem;
    font-weight: 800;
    text-align: center;
    justify-self: start;
    margin: 0px 0px 0px 20px;
    border-style: hidden;
    border-radius: 5px;
    width: 90px;
    height: 30px;
}

.articleTitle{
    font-weight: 800;
    font-size: 1.5rem;
    justify-self: start;
    margin: 20px;
}

.articleTitle:hover
{
    color: var(--color-yellow);
    transition-duration: 0.4s;
}

.publishDate{
    font-size: 1rem;
    font-weight: 500;
    margin: 20px;
    justify-self: start;
}

.articleDesc{
    margin: 20px;
    color: var(--color-grey-500);
    font-size: 1rem;
}

.author{
    display: flex;
    margin: 20px;
}

.author > p {
    font-weight: 800;
    margin: 10px;
    text-justify: center;
}

.author > img{
    align-self: center;
}
